tr:hover {
  cursor: pointer;
}

.btn-view {
  color: #fff;
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-view:hover {
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
}