/* You can add global styles to this file, and also import other style files */
.btn-custom {
  color: #fff;
  background-color: #413c5e;
  border-color: #413c5e;
}
.btn-custom:hover {
  background-color: #504a74;
  border-color: #504a74;
}