header {
  min-height: 700px;
  position: relative;
  overflow: hidden;
}

.main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #413c5e;
}
.header-body {
  padding-top: 80px;
}
.action-btns {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.my-btn {
  color: white;
  background-color: inherit;
  border: 1px solid white !important;
  height: 56px !important;
  width: 198px !important;
}
.btn {
  background-color: #ff9800;
  color: black;
  border-color: transparent;
  padding: 5px 20px;
  font-size: 14px;
}
.vector-img {
  max-width: 100%;
  margin-top: -50px !important;
}

@media (max-width: 767px) {
  .header-body {
    padding-top: 30px;
  }
}

.wrapper {
  background-color: white !important;
  padding: 0;
  margin: 0;
}

.landing {
  position: relative;
}

.main-banner {
  margin-top: 35px;
}
.main-btn {
  height: 56px !important;
  width: 198px !important;
}

.main-header-text {
  font-size: 30px !important;
}
.header-img {
  width: 100%;
}

.my-heading {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.card-icon {
  height: 60px !important;
  width: 60px !important;
}
.my-btn {
  background-color: #413c5e;
  color: white;
  border-radius: 10px;
}

.my-btn2 {
  background-color: #e5e5e5;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 56px;
}

.instructor-btn {
  border: 1px solid teal !important;
  border-radius: 10px !important;
  color: black !important;
  background-color: white;
}

.why-sapphital {
  background: #413c5e;
}

.testimonial-1 {
  border-radius: 50% !important;
}
.card-image {
  height: 50px !important;
  width: 50px !important;
}

.section3 {
  background: rgba(174, 172, 183, 0.05);
  padding: 20px 0px 25px;
}

.insight {
  background: #413c5e;
  padding: 30px 0px;
}

.about-content {
  // color: #F5F5F7;
  font-size: 14px;
  color: #fff;
}

.purple-text {
  color: #413c5e;
}

.become-ins-btn {
  height: 56px;
  width: 198px;
  background: #fff;
  color: #413c5e;
}

.testimonial-name {
  font-weight: bold !important;
}
.testimonial-date {
  color: #ea77ab !important;
}
.my-card {
  height: 250px !important;
  width: 300px !important;
  position: absolute !important;
  z-index: 1 !important;
  left: 72% !important;
  top: 50px !important;
}
.testimonial-image {
  position: absolute !important;
  z-index: auto !important;
}
.first-image {
  height: 70px !important;
  width: 70px !important;
  border-radius: 30%;
  margin-left: 50%;
}

.section-4 {
  padding: 25px 0;
}

.section-5 {
  // background: rgba(65, 60, 94, 0.05);
  padding: 30px 30px;
}

.statistics {
  border-radius: 50% !important;
  // float: left !important;
  display: inline-block !important;
  margin-right: 20px !important;
  /* text styling */

  width: 200px !important;
  height: 200px !important;
  padding: 70px 0 !important;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  background-color: #413c5e;
  font-size: 20px;
}

.my-stat {
  display: block !important;
}
.mb-20 {
  margin-bottom: 5rem !important;
}

.mt-15 {
  margin-top: 10px !important;
}

.page-body {
  background: #E5E5E5;
  margin: 0px;
}

@media screen and (max-width: 450px) {
  .headingimg {
    display: none;
  }

  .section-4 {
    display: none;
  }

  .semi-play {
    $size: 50px;
    top: 20%;
    right: 0px;
  }
}

@media (min-width: 460px) and(max-width: 767px) {
  .semi-play {
    $size: 50px;
    top: 35%;
    right: 0px;
  }
}

@media (min-width: 768px) and(max-width: 870px) {
  .semi-play {
    $size: 30px;
    top: 5px;
    right: -15px;
  }
}

@media (min-width: 871) and(max-width: 1100px) {
  .semi-play {
    top: 0px;
    right: 0px;
  }
}

.section-5 {
  padding-bottom: -250px !important;
}

@media only screen and (min-width: 768px) {
  .instructor-landing-img {
    display: none;
  }
}
