<div class="page-body">
  <header class="">
    <div class="main-background">
      <div class="container pt-5">
        <div class="header-body mt-5">
          <div class="row pl-1">
            <div class="col-md-6">
              <h1 class="text-white site-info">Mini Customer Relationship <br> Management</h1>
              <div class="action-btns mb-5">
                <a [routerLink]="['/login']" routerLinkActive="router-link-active"><button
                    class="btn my-btn waves-light white-text text-center main-btn border-1  z-depth-0 text-decoration-none">
                    Sign In</button>
                </a>
              </div>
            </div>
            <div class="col-md-6 d-none d-md-block d-lg-block d-xl-block pt-0"
              style=" margin-top: 40px; padding-top: 30px;">
              <!-- <img src="" alt="Vector Image" class="vector-img"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wave"></div>
  </header>

  <section class="section3">
    <div class="section3-body mt-5">
      <h1 class="my-5 text-center my-heading" style=" color: #413C5E;">
        Features
      </h1>
      <div class="section3-cards mb-20">
        <div class="container">
          <div class="row">
            <div class="my-3 col-md-3 sm-12">
              <div class="card-section">
                <h6 class="card-section-heading text-center mb-5 ">
                  Create Companies and Employees
                </h6>
                <div class="card">
                  <div class="card-body">
                    <p class="card-text mt-2" style="text-align: justify"> Lorem ipsum, or lipsum as it is sometimes
                      known, is dummy text used in laying out print, graphic or web designs. The passage is attributed
                      to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De
                      Finibus Bonorum et Malorum for use in a type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-3 col-md-3 sm-12">
              <div class="card-section">
                <h6 class="card-section-heading text-center mb-5">
                  View Companies and Employees
                </h6>
                <div class="card">
                  <div class="card-body">
                    <p class="card-text mt-2" style="text-align: justify"> Lorem ipsum, or lipsum as it is sometimes
                      known, is dummy text used in laying out print, graphic or web designs. The passage is attributed
                      to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De
                      Finibus Bonorum et Malorum for use in a type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-3 col-md-3 sm-12">
              <div class="card-section">
                <h6 class="card-section-heading text-center mb-5">
                  Update Companies and Employees
                </h6>
                <div class="card">
                  <div class="card-body">
                    <p class="card-text mt-2" style="text-align: justify"> Lorem ipsum, or lipsum as it is sometimes
                      known, is dummy text used in laying out print, graphic or web designs. The passage is attributed
                      to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De
                      Finibus Bonorum et Malorum for use in a type specimen book.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="my-3 col-md-3 sm-12">
              <div class="card-section">
                <h6 class="card-section-heading text-center mb-5">
                  Delete Companies and Employees
                </h6>
                <div class="card">
                  <div class="card-body">
                    <p class="card-text mt-2" style="text-align: justify"> Lorem ipsum, or lipsum as it is sometimes
                      known, is dummy text used in laying out print, graphic or web designs. The passage is attributed
                      to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De
                      Finibus Bonorum et Malorum for use in a type specimen book.
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
